# AccountID is from your MaxMind account.
MAXMIND_ACCOUNT_ID=

# LicenseKey is from your MaxMind account.
MAXMIND_LICENSE_KEY=

# MaxMind DBs Base Path
MAXMIND_BASE_PATH=.

# Bind Address, defaults to localhost:8080
BIND_ADDR=localhost:8080

# Prometheus Metrics Address, defaults to localhost:9090
METRICS_ADDR=:9090

# Optional: Authorization Bearer Token. If set, all requests must provide this token.
AUTHORIZATION=your-secret-token